<form>
  <% if(project){ %>
    <span class="label label-info"><%= project.get('name') %></span>
  <% } else { %>
    <span class="label label-success">Personal</span>
    <% } %><br><br>
  <input type='text' name="name" class="form-control"
        value="<%= task.escape('name')%>"><br><br>
  <textarea name='description' class='form-description form-control'><%= task.escape('description') %></textarea>
  <br><input type='date' name='due' value="<%= task.escape('due')%>"
       class="form-control">
</form>


<% var com = task.get('completed') ? "Mark Incomplete" : "Mark Completed" %>
<button class="completed btn btn-primary"><%= com %></button>
<br><br>
