<i class="fa fa-minus-square fa-2x close"></i><form class="task-edit-form" enctype="multipart/form-data">
  <% if(project){ %>
  <span class="label label-info project-tag" data-id="<%= project.id %>">
    <%= project.get('name') %>
  </span>
  <% } else if (!task.get('parent_id')) { %>
    <span class="label label-info">Unorganized</span>
  <% } %>
  <% if (task.get('parent_id')) { %>
    <span class="label label-success parent-task" data-id="<%=task.get('parent_id')%>">
      <%= Breath.user.tasks().get(task.get('parent_id')).get('name') %>
    </span>
    <% } %><br><br>
  <% var com = task.get('completed') ? "fa-check-square-o" : "fa-square-o" %>
  <i class="completed fa <%= com %> fa-2x"></i>
  <input type='text' name="name" class="update-task span8"
        value="<%= task.escape('name')%>"><br><br>
  <textarea name='description' placeholder="Description" class='span9 form-description form-control'><%= task.escape('description') %></textarea>
  <br><input type='date' name='due' value="<%= task.escape('due')%>"
    class="update-task"><br>
  <input type='text' name='tag' placeholder="Tag..." class="tag-form">
  <%= tags.length > 0 ? '<br>' : "" %>
  <% tags.forEach(function(tag){ %>
    <span class="label label-warning"> 
      <i class="icon-tag" data-id="<%= tag.name %>"><%= tag.name %></i> 
    </span>
  <% }) %>
  <div class="error"></div>
  <input class="file-form" type="file" onchange="handle_files(this.files)" enctype="multipart/form-data"> 
  <% if (task.get('attachments') && task.get('attachments').length > 0) { %>
    <%= "<br>" %>
    <% task.get('attachments').forEach(function(attachment, i){ %>
    <span class="label label-inverse">
      <i class="icon-file"></i>
      <a href="<%= attachment.url %>" target="_blank"> File <%= i + 1%></a>
    </span>
    <% }) %>
    <%= "<br>" %> 
    <% } %><br>
</form>

<script>
function handle_files(files) {
  var task_id = <%= task.id %>;
  var task = Breath.user.tasks().get(task_id);
  var file = files[0];
  var reader = new FileReader();
  reader.onload = function(e) {
    $.ajax({
      type: "POST",
      url: "api/tasks/" + task_id + '/upload-file',
      data: { file: e.target.result },
      success: function(){
        task.fetch();
        if (task.hasProject()) {
          var project = Breath.user.projects().get(task.get('project_id'));
          project.tasks().get(task_id).fetch();
        }
      },
      error: function(){
        $('.error').html("File could not be saved")
      }
    })
  }
  reader.onerror = function(){
  }
  reader.readAsDataURL(file);
}
</script>
