<h3 class="project-title"><%= project.escape('name')%></h3>
<button class="sort btn btn-info">
  Sort by <%= sortByDate ? "priority" : "due date" %>
</button><br>
<div id="sortable">  
<% var i = 1 %>
<% tasks.each(function(task){ %>
<% if (task.get('parent_id')) { return } %>
<% if (!Breath.user.tasks().get(task.id)) { return } %>
<% var completeClass = task.get('completed') ? 'completed-task' : 'incomplete-task' %>
<% var checkedTask = task.get('completed') ? 'fa-check-square-o' : 'fa-square-o' %>
<% var labelTask = task.get('completed') ? 'label-success' : 'label-important' %>
<div class="row-fluid tasks" data-id= "<%= task.id %>">
  <div class="badger span3">
    <div class="badgey">
      <i class="fa fa-align-justify fa-lg"></i>
      <span class="badge badge-info"><%= i++ %></span>
      <i class='fa <%= checkedTask %> fa-lg complete-check' data-id="<%= task.id %>"></i>
     </div>
  </div>
  <div class="span7">
    <span class="task_list <%= completeClass %>" data-id="<%= task.id %>">
       <%= task.escape('name') %>
    </span>
  </div>
  <div class="span2">
    <%if (task.get('due')){ %>
    <% var date = new Date(task.get('due')) %>
    <span class="due-date label <%= labelTask %>">
      <%= (date.getUTCMonth() + 1) + '/' + date.getUTCDate() 
          + '/' + date.getUTCFullYear() %> 
    </span><br>
    <% }%>
  </div>
</div>
<% }) %>
</div>
<br>
<input placeholder="Task..." type="text" id="form-task" class="form-control">

<script>
$(function(){
  $('#sortable').sortable({
    placeholder: "ui-state-highlight",
    update: function(event, ui){
      $('.tasks', this).each(function(i){
        Breath.user.tasks().sortByDueDate = false;
        var task_id = $(this).data('id');
        var task = Breath.user.tasks().get(task_id);
        task.save('order', i, {silent: true});
        if (task.hasProject()) {
          var project = Breath.user.projects().get(task.get('project_id'));
          project.tasks().get(task_id).set('order', i, {silent: true});
          project.tasks().sortByDueDate = false;
        }
      });
      Breath.user.tasks().sort();
    }
  });
});
</script>
