<h2><%= project.get('name') %> </h2>
  
<% tasks.each(function(task){ %>
<% var completeClass = task.get('completed') ? 'completed-task' : 'incomplete-task' %>
<% var checkedTask = task.get('completed') ? 'checked' : '' %>
<input type='checkbox' <%= checkedTask %> 
       class="complete-check" data-id="<%= task.id %>">

<span class="task_list <%= completeClass %>" data-id="<%= task.id %>">
   <%= task.get('name') %>
</span><br>
<% }) %>

<br>
<input placeholder="Task..." type="text" id="form-task">
