<div class="task-edit-form">
<% subtasks.each(function(subtask){ %>
  <% var completeClass = subtask.get('completed') ? 'completed-task' : 'incomplete-task' %>
  <% var labelTask = subtask.get('completed') ? 'label-success' : 'label-important' %>
  <% var checkedTask = subtask.get('completed') ? "fa-check-square-o" : "fa-square-o" %>
  
  <span class="subtask-list">
    <i class='subcomplete-check fa <%= checkedTask %> fa-lg complete-check' data-id="<%= subtask.id %>"></i>
    <span class="subtask_list <%= completeClass %>" data-id="<%= subtask.id %>">
     <%= subtask.escape('name') %>
  </span>
  </span>

  <% if (subtask.get('creator_id') !== Breath.user.id){ %>
    <span class="label label-warning">Assigned </span>
  <% } %>

  <%if (subtask.get('due')){ %>
    <% var date = new Date(subtask.get('due')) %>
    <span class="label <%= labelTask %>">
      <%= (date.getUTCMonth() + 1) + '/' + date.getUTCDate() 
          + '/' + date.getUTCFullYear() %> 
    </span><br>
  <% }%><br>
  <br>
<% }) %>
<input placeholder="Subtask..." type="text" id="form-subtask" class="form-control">
</div>
